<footer class="p-2 bg-dark">
    <div class="container">
        <ul class="list-inline">
            <li><a href="#">회사 소개</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">여행 약관</a></li>
            <li><a href="#">사이트 맵</a></li>
        </ul>
        <address>
            <p>대표이사 : 김홍연 | 대표전화 : 010-****-9275 | E-MAIL : ghddus456@gmail.com</p>
            <p>주소 : 인천광역시 연수구 송도동 ******</p>
            <p>사업자 등록 번호 : 000-00000</p>
        </address>
    </div>
</footer>